---
import clsx from "clsx";

import ExperienceCard from "@/components/experience-card.astro";
import InfiniteSlider from "@/components/infinite-slider.astro";
import BaseLayout from "@/layouts/base.astro";
import { WORK_EXPERIENCE } from "@/lib/constants";
---

<BaseLayout>
	<main>
		<article lang="en">
			<section
				class={clsx(
					"relative mx-auto flex min-h-screen flex-col justify-center px-8 pt-32",

					"max-lg:mx-0 lg:max-w-6xl",
				)}
			>
				<div class="mt-auto flex flex-col">
					<div class="flex flex-col gap-2">
						<div class="flex items-center gap-1">
							<h1
								class="text-background bg-foreground px-2 py-1 text-xl font-medium uppercase leading-none"
							>
								Victor Ragojos
							</h1>
						</div>

						<p
							class={clsx(
								"text-4xl font-medium",

								"max-md:text-2xl",
							)}
						>
							Hi, I'm a software engineer focused on building efficient,
							user-friendly applications. I specialize in full-stack development
							and enjoy optimizing systems to deliver the best possible
							experience.
						</p>
					</div>
				</div>

				<a
					aria-label="Scroll down"
					class={clsx(
						"relative mx-auto mb-8 mt-auto ring-offset-background",

						"focus-visible:ring-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2",
					)}
					href="#projects"
				>
					<div
						class={clsx(
							"h-12 w-6 transition",

							"after:absolute after:top-[20%] after:left-1/2 after:h-2 after:w-2 after:-translate-x-1/2 after:-translate-y-full after:rotate-45 after:transform after:animate-scroll-down after:border-2 after:border-foreground/20 after:border-t-transparent after:border-l-transparent after:content-['']",
							"before:absolute before:top-1/3 before:left-1/2 before:h-2 before:w-2 before:-translate-x-1/2 before:-translate-y-full before:rotate-45 before:transform before:animate-[scroll-down_1s_ease-in-out_infinite_300ms] before:border-2 before:border-foreground/20 before:border-t-transparent before:border-l-transparent before:content-['']",
							"hover:border-foreground",
						)}
					>
						<span class="sr-only">Scroll down</span>
					</div>
				</a>
			</section>

			<section class="pt-24" id="projects">
				<a
					class={clsx(
						"block ring-offset-background",

						"focus-visible:ring-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2",
					)}
					href="/projects/"
				>
					<InfiniteSlider
						slides={[
							"RECENT WORKS?",
							"VIEW MY SIDE PROJECTS",
							"SEE WHAT I'VE BEEN UP TO",
							"WHAT I'VE RECENTLY LEARNED",
						]}
					/>
				</a>
			</section>

			<section
				class={clsx(
					"mx-auto flex min-h-screen flex-col gap-12 px-8 pt-32 pb-8",

					"max-lg:mx-0 lg:max-w-5xl",
				)}
				id="experience"
			>
				<div>
					<h1 class="font-headline text-3xl tracking-wide">EXPERIENCE</h1>
					<h2 class="text-muted-foreground text-xl font-medium">
						Where I&apos;ve worked
					</h2>
				</div>

				<div class="grid grid-cols-2">
					{
						WORK_EXPERIENCE.map((experience) => (
							<div
								class={clsx(
									"group col-span-1 row-span-1",

									"max-md:col-span-2",
								)}
							>
								<ExperienceCard
									company={experience.company}
									description={experience.description}
									end={experience.end}
									job={experience.job}
									start={experience.start}
								/>
							</div>
						))
					}
				</div>
			</section>
		</article>
	</main>
</BaseLayout>
