---
import clsx from "clsx";

import ExperienceCard from "@/components/experience-card.astro";
import InfiniteSlider from "@/components/infinite-slider.astro";
import BaseLayout from "@/layouts/base.astro";
import { WORK_EXPERIENCE } from "@/lib/constants";
---

<BaseLayout>
	<main>
		<section
			class={clsx(
				"relative mx-auto flex min-h-screen flex-col justify-center px-8 pt-32",

				"max-lg:mx-0 lg:max-w-6xl",
			)}
		>
			<div class="mt-auto flex flex-col">
				<div class="flex flex-col gap-2">
					<div class="flex items-center gap-1">
						<h1
							class="bg-foreground px-2 py-1 text-xl font-medium uppercase leading-none text-background"
						>
							Victor Ragojos
						</h1>
					</div>

					<p
						class={clsx(
							"text-3xl font-medium",

							"max-md:text-2xl",
						)}
					>
						Hello, I'm a polyglot software engineer with over 5 years of
						professional programming experience. My current interests are in
						learning all about Go, staying up-to-date with the web world, and
						spoiling Jiji.
					</p>

					<div class="mt-4">
						<a
							class={clsx(
								"inline-flex h-11 items-center justify-center gap-2 border px-8 text-sm font-medium uppercase ring-offset-background",

								"focus-visible:text-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2",
								"hover:bg-foreground/5 hover:text-foreground",
							)}
							href="/Resume.pdf"
							rel="me noopener noreferrer"
							target="_blank"
						>
							Resume

							<svg
								class="h-4 w-4"
								fill="none"
								height="1em"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								stroke="currentColor"
								style="overflow: visible; color: currentColor;"
								viewBox="0 0 24 24"
								width="1em"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
								<path d="M7 10 12 15 17 10"></path>
								<path d="M12 15 12 3"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>

			<a
				aria-label="Scroll down"
				class={clsx(
					"relative mx-auto mb-8 mt-auto border-foreground/20 ring-offset-background",

					"focus-visible:border-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2",
					"hover:border-foreground",
				)}
				href="#projects"
			>
				<div
					class={clsx(
						"h-12 w-6 border-inherit transition-colors",

						"after after:absolute after:left-1/2 after:top-[20%] after:h-2 after:w-2 after:-translate-x-1/2 after:-translate-y-full after:rotate-45 after:transform after:animate-scroll-down after:border-2 after:border-inherit after:border-l-transparent after:border-t-transparent after:content-['']",
						"before:absolute before:left-1/2 before:top-1/3 before:h-2 before:w-2 before:-translate-x-1/2 before:-translate-y-full before:rotate-45 before:transform before:animate-[scroll-down_1s_ease-in-out_infinite_300ms] before:border-2 before:border-inherit before:border-l-transparent before:border-t-transparent before:content-['']",
					)}
				>
					<span class="sr-only">Scroll down</span>
				</div>
			</a>
		</section>

		<section class="overflow-x-hidden pt-24" id="projects">
			<a
				aria-label="Go to projects page"
				class={clsx(
					"group block ring-offset-background",

					"focus-visible:outline-none",
				)}
				href="/projects/"
			>
				<InfiniteSlider
					slides={[
						"RECENT WORKS?",
						"VIEW MY SIDE PROJECTS",
						"SEE WHAT I'VE BEEN UP TO",
						"WHAT I'VE RECENTLY LEARNED",
					]}
				/>
			</a>
		</section>

		<section
			class={clsx(
				"mx-auto flex min-h-screen flex-col gap-12 px-8 pb-8 pt-32",

				"max-lg:mx-0 lg:max-w-5xl",
			)}
			id="experience"
		>
			<div>
				<h1 class="text-3xl font-bold tracking-wide">EXPERIENCE</h1>
				<h2 class="text-xl font-medium tracking-tight text-primary">
					Where I&apos;ve worked
				</h2>
			</div>

			<ul
				class="grid grid-cols-2 border-l border-t [&>*]:border-b [&>*]:border-r"
			>
				{
					WORK_EXPERIENCE.map((experience) => (
						<li
							class={clsx(
								"col-span-1 row-span-1",

								"max-md:col-span-2",
							)}
						>
							<ExperienceCard
								company={experience.company}
								description={experience.description}
								end={experience.end}
								job={experience.job}
								start={experience.start}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
