---
import "@/styles/base.css";
import "@/styles/fonts.css";

import dayjs from "dayjs";
import RelativeTime from "dayjs/plugin/relativeTime";

import { Header } from "@/components/header";
import Seo from "@/components/seo.astro";

export type Props = {
	title?: string;
	description?: string;
};

const {
	title = "Victor Ragojos",
	description = "Hi, I'm a software engineer focused on building efficient, user-friendly applications. I specialize in full-stack development and enjoy optimizing systems to deliver the best possible experience.",
} = Astro.props;

dayjs.extend(RelativeTime);
---

<!doctype html>
<html
	dir="ltr"
	lang="en"
	class="selection:bg-foreground selection:text-background scroll-smooth"
>
	<head>
		<Seo />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Open Graph -->
		<meta property="og:description" content={description} />
		<meta
			property="og:image"
			content={`${Astro.url.origin}/socialImage.webp`}
		/>
		<meta property="og:title" content={title} />
		<meta property="og:site_name" content="RagOfJoes" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:description" content={description} />
		<meta
			name="twitter:image"
			content={`${Astro.url.origin}/socialImage.webp`}
		/>
		<meta name="twitter:title" content={title} />
		<meta property="twitter:domain" content="ragofjoes.dev" />
		<meta property="twitter:url" content={Astro.url.origin} />
	</head>

	<body
		class="bg-background text-foreground font-body h-screen w-screen overflow-y-auto overflow-x-hidden"
	>
		<Header client:load url={Astro.url} />

		<slot />
	</body>
</html>
