---
import "@/styles/base.css";

import Header from "@/components/header.astro";
import Seo from "@/components/seo.astro";
import { cn } from "@/lib/cn";

export type Props = {
	title?: string;
	description?: string;
};

const {
	description = "Portfolio of Victor Ragojos, detail oriented, web enthusiast, Lead Frontend Engineer. Based in the Bay Area.",
	title = "Victor Ragojos",
} = Astro.props;
---

<!doctype html>
<html
	dir="ltr"
	lang="en"
	class={cn(
		"scroll-smooth antialiased",

		"selection:bg-foreground selection:text-background",
	)}
>
	<head>
		<Seo />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Open Graph -->
		<meta property="og:description" content={description} />
		<meta property="og:image" content={`${Astro.url.origin}/og.png`} />
		<meta property="og:title" content={title} />
		<meta property="og:site_name" content="Victor Ragojos" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.origin} />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={`${Astro.url.origin}/og.png`} />
		<meta name="twitter:title" content={title} />
		<meta property="twitter:domain" content="ragofjoes.dev" />
		<meta property="twitter:url" content={Astro.url.origin} />
	</head>

	<body
		class={cn(
			"bg-background text-foreground flex h-screen w-screen flex-col overflow-hidden overscroll-none font-sans font-normal",
		)}
	>
		<Header />

		<slot />
	</body>
</html>
